@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 1024px) {
 
html,body {
    background-color: #023535;
    width: 100vw;
    transition: all 0.4s ease;
}

main {
    height: 300px;
    width: 600px;
    margin: auto;
    margin-top: 120px; 
    transition: all 0.4s ease;
}


.form > p {
    padding: 10px;
}

img {
    width: 240px;
    height: 300px;
    margin-right: 360px;
    border-radius: 20px 0px 0px 20px;
}



.form {
    transform: translateY(-300px);
    padding-left: 250px;  
}

}


@media screen and (min-width: 1025px) {

    main {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 700px;
     height: 360px;
     margin-top: 120px;
     transition: all 0.4s ease;

    }

    img{
        width: 600px;
        height: 360px;
        padding-left: 700px;
        border-radius: 20px;
    }

    .form{
        transform: translateX(-630px);
        padding-bottom: margin;
    }

    .form > p {
        padding: 13px;
    }
}
    
