@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    background-color: #0FC2C0;
    width: 100vw;
}

main {
 text-align: center;
 background-color: white;
 margin: auto;
 margin-top: 40px;
 margin-bottom: 20px;
 width: 340px;
 height: 570px;
 border-radius: 20px;
transition: all 0.4s ease;

}

main > h1 {
    padding: 10px;
}

.form > p {
    padding: 10px;
}

main > input {
    padding: 10px;
    margin: 10px;
}


img {
    width: 340px;
    height: 250px;
    background-repeat: no-repeat;
    border-radius: 20px 20px 0px 0px;
}



#iemail {
    width: 200px;
    height: 30px;
    background-color: #18f8f481;
    border-radius: 7px;
    border: 1px solid white;
    cursor: pointer;
}

#isenha {
    width: 200px;
    height: 30px;
    background-color: #18f8f481;
    border-radius: 7px;
    border: 1px solid white;
    cursor: pointer;
}

#icon1 {
cursor: pointer;  
padding: -3px;  
}

#icon2 {
    cursor: pointer;
}

#entrar {
    background-color: #0CABA8;
    color: white;
    width: 250px;
    height: 40px;
    margin: 10px;
    border: 1px solid white ;
    border-radius: 7px;
    
}

#entrar:hover {
    background-color: white;
    color: rgb(73, 145, 121);
    border: 1px solid aquamarine;
}

#esqueci {
 background-color: white;
 color: rgb(73, 145, 121);
 width: 250px;
 height: 40px;
 border: 1px solid aquamarine;
 border-radius: 7px;
}

#esqueci:hover{
    background-color: #023535;
    color: white;

}